<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hossein Azizi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script>
</head>

<body class=>
    <div id="app">
        <section class="section">
            <div class="container">
                <div class="columns ">
                    <div class="column is-3"></div>
                    <div class="column is-half">
                        <div class="container">
                            <h1 class="title" v-html="title">
                            </h1>
                            <p class="subtitle">
                                {{ author }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section class="section">
            <div class="container has-text-centered">
                <div class="columns ">
                    <div class="column is-half is-3-desktop main-card">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image ">
                                    <img src="https://avatars1.githubusercontent.com/u/38015516?s=460&v=4" alt="Hossein Azizi" width="250" style="border-radius:50%">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="content">
                                        
										
										
										
            <div class="columns has-text-centered">
                <!-- <div class="column is-ofsfset-1">
                    <a href="http://twitter.com/muhammad_vakili">
                        <span class="icon has-text-info is-large">
                            <i class="fab fa-twitter"></i>
                        </span>
                    </a>
                </div> -->
                <div class="column is-ofsfset-1">

                    <a href="http://t.me/Ho_Azizi">
                        <span class="icon has-text-info is-large">
                            <i class="fab fa-telegram"></i>
                        </span>
                    </a>
                </div>
                <div class="column">
                    <a href="https://www.instagram.com/lhossein_azizil/">
                        <span class="icon has-text-danger is-large">
                            <i class="fab fa-instagram"></i>
                        </span>
                    </a>
                </div>
                <div class="column">
                    <a href="https://github.com/Hossein-Azizi">
                        <span class="icon is-large">
                            <i class="fab fa-github"></i>
                        </span>
                    </a>
                </div>
            </div>
        
										
										
										
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
		
        
		<section class="section">
            <div class="container">
                <div class="columns is-multiline ">
                        <div class="column is-once">
                            <div class="card ">
                                <header class="card-header">
                                    <p class="card-header-title " text-align="justify">
                                         About Me
                                    </p>
                                </header>
                                <div class="card-content">
                                    <p class="subtitle">
                                {{ about }}
                            </p>
                                </div>
                         </div>   
                    </div>
                </section>
        <section class="is-medium">
            <div class="container">
                <h1>
                    Skills
                </h1>
                <div class="columns is-multiline ">
                    <template v-for="item in mainSkills">
                        <div class="column is-half">
                            <div class="card ">
                                <header class="card-header">
                                    <p class="card-header-title " text-align="justify">
                                        {{item.title}}
                                    </p>
                                </header>
                                <div class="card-content">
                                    <div class="content" v-html="item.describe">
                                    </div>
                                    <footer class="card-footer">
                                        <progress class="progress" v-bind:class="item.color" v-bind:value="item.knowing" max="100">60%</progress>
                                    </footer>
                                </div>
                            </div>
                    </template>
                    </div>
                </div>
        </section>
        <section>
            <div class="container">
                <div class="content">

                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <h1>
                    Other Skills
                </h1>
                <div class="content has-text-centered">
                    <div class="field is-grouped is-grouped-multiline">
                        <div class="control" v-for="item in otherSkills">
                            <div class="tags has-addons">
                                <span class="tag is-dark">{{item.title}}</span>
                                <span class="tag" :class="item.color">{{item.describe}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        </div>
</body>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            title: '<i class="far fa-heart has-text-danger"></i>  to write clean <i class="fas fa-code has-text-warning"></i>',
            author: 'Hossein Azizi Seadabadi',
			about:'Hello! My name is Hossein Azizi Seadabadi. I am a Software Engineer and Designer. I began programming in high school wiht Visual Basic and since then my interest has become an obsession. I develop applications, I read software and hardware articles, and I follow Programming language and technology documentation to improve my programming and algorithm design skills. I constantly strive to become a better software engineer.',
            mainSkills: [
                { title: 'Windows Application Form', describe: 'I\'ve started software with<a href="https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/" ><strong> C# </strong></a> in my earlier projects. I have more than 3 years of professional experience in C# and .NET. I work on lots of Desktop projects and I have experience in  Network Software development with C#.', knowing: 60, color: "is-info" },
				{ title: 'Windows Presentation Foundation (WPF)', describe: '<a href="https://docs.microsoft.com/en-us/visualstudio/designers/getting-started-with-wpf"><strong> WPF </strong></a> is my UI frameworks of choice. Almost all of my desktop projects are written in these frameworks.', knowing: 40, color: "is-warning" },
				{ title: 'Relational database design', describe: 'I\'ve started database with <strong>Sql</strong> in my earlier projects. I remember those days that I had no idea about relations, joins, triggers, any nested queries, indexes and ...<br>I have learned how database works, how to draw ER diagrams, how to understand execution plans, how to write correct queries in our <strong>Database </strong> course.', knowing: 80, color: "" },                
                { title: 'Entity Framework', describe: '<a href="https://docs.microsoft.com/en-us/ef/"><strong> Entity Framework </strong></a> is my favorite ORM. I use it in my Desktop projects to manage databases in a simpler and better way.', knowing: 50, color: "is-danger" },                
            ],
            otherSkills: [
                <!--{ title: 'Angular 2+', describe: '40%', color: 'is-danger' },-->
                { title: 'Visual Basic', describe: '60%', color: 'is-danger' },
				{ title: 'LaTeX', describe: '40%', color: 'is-info' },
                { title: 'Software System Analyze', describe: '70%', color: 'is-link' },
                <!--{ title: 'Entity Framework', describe: '80%', color: 'is-success' },-->
                { title: 'Microsoft Office', describe: '90%', color: 'is-success' },
                <!--{ title: 'Javascript ES5/ES6', describe: '70%', color: 'is-warning' },-->
                { title: 'Html', describe: '40%', color: 'is-warning' },
                <!--{ title: 'C# Windows form', describe: '80%', color: 'is-info' },-->
                { title: 'Verilog HDL Design', describe: '10%', color: 'is-primary' },
                { title: 'Teaching', describe: '60%', color: 'is-warning' },
                { title: 'Teamwork', describe: '60%', color: 'is-danger' },
                <!--{ title: 'PHP Pure', describe: '70%', color: 'is-info' },-->
                
                { title: 'C / C++', describe: '50%', color: 'is-link' },
                { title: 'Documentation', describe: '60%', color: 'is-primary' },
                { title: 'Unit testing', describe: '30%', color: 'is-warning' }
            ]
        }
    })
</script>

</html>
